build/
.DS_Store
node_modules/
toolchain/
*.log
*.out
*.bbl
*.blg
*.aux
.vscode/
# Emacs temporary files
*~
.#*
*.*#
tmp/
.sconsign.dblite
scripts/scons/__pycache__
.venv/

*.so
.idea/